In [1]:
import requests 
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
name = []
prices = []
ratings = []
df = pd.DataFrame()

In [4]:
url = 'https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [5]:
page = requests.get(url)
html = page.content

In [6]:
response = requests.get(url)

In [7]:
response

In [8]:
soup = bs(response.text, 'html.parser')

In [9]:
main_box= soup.find_all('div', {'class':'_3pLy-c row'})

In [10]:
len(main_box)

24

In [11]:
box = main_box[0]

In [12]:
box

<div class="_3pLy-c row"><div class="col col-7-12"><div class="_4rR01T">Lenovo IdeaPad 3 Chromebook Celeron Dual Core - (4 GB/64 GB EMMC Storage/Chrome OS) CB 11IGL05 Chromeb...</div><div class="gUuXy-"><span class="_1lRcqv" id="productRating_LSTCOMG6AKVN3KXNVY2LCOHHL_COMG6AKVN3KXNVY2_"><div class="_3LWZlK">3.4<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div></span><span class="_2_R_DZ"><span><span>525 Ratings </span><span class="_13vcmD">&amp;</span><span> 63 Reviews</span></span></span></div><div class="fMghEO"><ul class="_1xgFaf"><li class="rgWa7D">Intel Celeron Dual Core Processor</li><li class="rgWa7D">4 GB LPDDR4 RAM</li><li class="rgWa7D">Chrome Operating System</li><li class="rgWa7D">29.46 cm (11.6 Inch) Display</li><li class="rgWa7D">1 Year Warranty</li></ul></div></div><div class="col col-5-12 nlI3QM"><div class="_3tbKJL"><div class="_25b18c"><div class="_30jeq3 _1_WHN1">₹15,990</div><div class="_3I9_wc _27UcVY">₹<!-- -->24,840</div><div class="_3Ay6Sb"><span>35% off</span></div></div><div class="_3tcB5a p8ucoS"><div><div class="_2Tpdn3" style="color:#000000;font-size:12px;font-style:normal;font-weight:400">Free delivery</div></div></div></div><div class="_2ZdXDB"><div class="_3xFhiH"><div class="_2Tpdn3 _18hQoS" style="color:#000000;font-size:14px;font-style:normal;font-weight:400">Upto </div><div class="_2Tpdn3 _18hQoS" style="color:#000000;font-size:14px;font-style:normal;font-weight:700">₹15,075</div><div class="_2Tpdn3 _18hQoS" style="color:#000000;font-size:14px;font-style:normal;font-weight:400"> Off on Exchange</div></div></div><div class="_2ZdXDB"><div class="_3xFhiH"><div class="_2Tpdn3 _18hQoS" style="color:#26A541;font-size:12px;font-weight:700">Buy 2 items, save extra 2%</div></div></div></div></div>

# Run the code and extract the data

In [31]:
title = box.find('div', {'class':'_4rR01T'}).text.strip()
price = box.find('div', {'class':'_30jeq3 _1_WHN1'}).text.strip()
rating = box.find('div', {'class':'_3LWZlK'})

In [38]:
data_list = []
for box in main_box:
    temp_dict={}
    temp_dict['Title'] = box.find('div', {'class':'_4rR01T'}).text.strip()
    temp_dict['Price'] =  box.find('div', {'class':'_30jeq3 _1_WHN1'}).text.replace('₹','').strip()
    temp_dict['Rating'] =  box.find('div', {'class':'_3LWZlK'})
    data_list.append(temp_dict)

In [33]:
df = pd.DataFrame(data_list)

In [34]:
df

                                                Title     Price     Rating
0   Lenovo IdeaPad 3 Chromebook Celeron Dual Core ...    15,990  [3.4, []]
1   DELL Core i7 11th Gen - (16 GB/512 GB SSD/Wind...  1,01,990       None
2   Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...    41,990  [4.4, []]
3   Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...    36,990  [4.4, []]
4   DELL Core i3 10th Gen - (8 GB/1 TB HDD/256 GB ...    39,990  [4.4, []]
5   HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    41,490  [4.3, []]
6   HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    42,990  [4.4, []]
7   DELL G15 Core i7 11th Gen - (16 GB/512 GB SSD/...  1,03,990       None
8   ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 ...    37,990  [4.3, []]
9   HP Core i5 11th Gen - (8 GB/512 GB SSD/Windows...    53,990  [4.3, []]
10  Lenovo IdeaPad 3 Celeron Dual Core 4th Gen - (...    28,990  [4.1, []]
11  DELL Ryzen 5 Hexa Core 5600H - (16 GB/512 GB S...    75,990  [4.7, []]
12  Infinix INBook X1 Core i3 10th Gen - (8 GB/256...    32,990  [4.3, []]
13  HP Ryzen 3 Dual Core 3250U - (8 GB/256 GB SSD/...    35,990  [4.3, []]
14  Lenovo Core i3 10th Gen - (8 GB/512 GB SSD/Win...    38,990  [4.5, []]
15  MSI GF63 Thin Hexa Core i5 10th Gen - (8 GB/1 ...    57,990  [4.4, []]
16  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...    48,490  [4.3, []]
17  Infinix INBook X1 Core i3 10th Gen - (8 GB/256...    32,990  [4.3, []]
18  Infinix INBook X1 Core i3 10th Gen - (8 GB/256...    32,990  [4.3, []]
19  DELL Ryzen 7 Octa Core 5800H - (16 GB/512 GB S...  1,13,990       None
20  DELL Vostro Ryzen 3 Dual Core R3-3250U - (8 GB...    33,990  [4.2, []]
21  HP Ryzen 5 Hexa Core 5500U - (8 GB/512 GB SSD/...    48,440  [4.4, []]
22  Lenovo IdeaPad 3 Core i5 10th Gen - (8 GB/512 ...    47,990  [4.1, []]
23  DELL Ryzen 5 Hexa Core 5600H - (8 GB/512 GB SS...    70,990       None

In [39]:
df.to_csv('LapTops.csv', index=False, encoding = 'utf-8')

In [40]:
df.head(3)

                                               Title     Price     Rating
0  Lenovo IdeaPad 3 Chromebook Celeron Dual Core ...    15,990  [3.4, []]
1  DELL Core i7 11th Gen - (16 GB/512 GB SSD/Wind...  1,01,990       None
2  Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...    41,990  [4.4, []]

In [44]:
df['Model'], df['Spec'] =df['Title'].str.split('-', 1).str
del df['Title']
df.head(3)

<ipython-input-44-a3146fae9393>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Model'], df['Spec'] =df['Title'].str.split('-', 1).str

,Price,Rating,Model,Spec
0,"15,990","[3.4, []]",Lenovo IdeaPad 3 Chromebook Celeron Dual Core,(4 GB/64 GB EMMC Storage/Chrome OS) CB 11IGL0...
1,"1,01,990",None,DELL Core i7 11th Gen,(16 GB/512 GB SSD/Windows 11 Home/4 GB Graphi...
2,"41,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 11th Gen,(8 GB/512 GB SSD/Windows 11 Home) 15ITL6 Thin...

In [45]:
df['Ram'], df['HDD'] = df['Spec'].str.split('(',1).str
del df['Spec']
df.head()

<ipython-input-45-24873d16a1da>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Ram'], df['HDD'] = df['Spec'].str.split('(',1).str

,Price,Rating,Model,Ram,HDD
0,"15,990","[3.4, []]",Lenovo IdeaPad 3 Chromebook Celeron Dual Core,,4 GB/64 GB EMMC Storage/Chrome OS) CB 11IGL05 ...
1,"1,01,990",None,DELL Core i7 11th Gen,,16 GB/512 GB SSD/Windows 11 Home/4 GB Graphics...
2,"41,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 11th Gen,,8 GB/512 GB SSD/Windows 11 Home) 15ITL6 Thin a...
3,"36,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 10th Gen,,8 GB/256 GB SSD/Windows 11 Home) 15IML05 Thin ...
4,"39,990","[4.4, []]",DELL Core i3 10th Gen,,8 GB/1 TB HDD/256 GB SSD/Windows 11 Home) Vost...

In [46]:
df['Ram'], df['Hard Disc']= df['HDD'].str.split('/', 1).str
del df['HDD']
df.head()

<ipython-input-46-bf94f3591387>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Ram'], df['Hard Disc']= df['HDD'].str.split('/', 1).str

,Price,Rating,Model,Ram,Hard Disc
0,"15,990","[3.4, []]",Lenovo IdeaPad 3 Chromebook Celeron Dual Core,4 GB,64 GB EMMC Storage/Chrome OS) CB 11IGL05 Chrom...
1,"1,01,990",None,DELL Core i7 11th Gen,16 GB,512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDI...
2,"41,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 11th Gen,8 GB,512 GB SSD/Windows 11 Home) 15ITL6 Thin and Li...
3,"36,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 10th Gen,8 GB,256 GB SSD/Windows 11 Home) 15IML05 Thin and L...
4,"39,990","[4.4, []]",DELL Core i3 10th Gen,8 GB,1 TB HDD/256 GB SSD/Windows 11 Home) Vostro 35...

In [50]:
# to rename the field,
df.rename(columns={'Price':'Model_Price', 'Rating':'M_Rating'}, inplace =True)

In [51]:
df.head()

,Model_Price,M_Rating,Model,Ram,Hard Disc
0,"15,990","[3.4, []]",Lenovo IdeaPad 3 Chromebook Celeron Dual Core,4 GB,64 GB EMMC Storage/Chrome OS) CB 11IGL05 Chrom...
1,"1,01,990",None,DELL Core i7 11th Gen,16 GB,512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDI...
2,"41,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 11th Gen,8 GB,512 GB SSD/Windows 11 Home) 15ITL6 Thin and Li...
3,"36,990","[4.4, []]",Lenovo IdeaPad 3 Core i3 10th Gen,8 GB,256 GB SSD/Windows 11 Home) 15IML05 Thin and L...
4,"39,990","[4.4, []]",DELL Core i3 10th Gen,8 GB,1 TB HDD/256 GB SSD/Windows 11 Home) Vostro 35...